<ion-header>
  <ion-toolbar class="my-background">
    <ion-row nowrap class="vertical-align-content">

      <ion-col size="10">
        <ion-title class="my-title">
          DOG-API
        </ion-title>
    </ion-col>
    <ion-col size="2">
      <ion-buttons>
        <ion-button (click)="presentHelp()">
          <ion-icon name="help-circle-outline"></ion-icon>
          </ion-button>
          </ion-buttons>
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="friends">
        <ion-label>Random</ion-label>
      </ion-segment-button>
      <ion-segment-button value="enemies">
        <ion-label>Specific</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-label>Hunderasse</ion-label>
    <ion-select *ngIf="specific_breed" [(ngModel)]="place" (ionChange)="breedselected()">
      <ion-select-option *ngFor="let breed of allbreednames" >{{breed}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-button expand="block" (click)="berechnenClicked()">Berechnen!</ion-button>
  </ion-item>

  <div id="container">
    <ion-img src="{{img}}">

    </ion-img>
  </div>
</ion-content>
