ion-card{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  border-radius: 15px;
  border: 3px solid rgba(196, 196, 196, 0.781);;
}
  ion-img{
    max-width:auto;
    max-height: auto;
    vertical-align:center;
  }
  .nowrap {
    white-space: nowrap ;
  }
  .vertical-center {
    display: inline-block;
    position: absolute;
    top: 30%;
  }

  ion-buttons{
    float:left;
    align-items: center;
  }
  h6{
    font-size: 3.5vw;
  }
  .center {
    text-align: center;
  }
  h3{
    vertical-align:auto;
  }
  .custom-list {
    background: inherit;
  }
  ion-button {
    --border-radius: 15px!important;
    --font-size: 0.5em;
    }
  
  ion-col{
    text-align:center;
  }

  img{
    max-width: auto;
    max-height:390px;
    display: block; /* remove extra space below image */
    margin: auto;
  }
  .box{
    width: 100%;   
    border: 5px solid black;
    text-align: center;
    margin: auto;
    max-width:100%;
  }    
  .box.large{
    height: auto;
    max-height:400px;
    width: max-content;
    max-width:100%;
  }
  .box.small{
    height: 100px;
  }
  .content{
      background-image: "../../assets/icon/dogpattern.svg";
  }
  ion-content.background{
    --background: rgba(255, 226, 146, 0.781);
  }
  .bg-boxen {
    --background: rgba(206, 162, 97, 0.781);
      --width: 100%;
  }
  .bg-boxen2 {
    --background: rgba(228, 180, 109, 0.781);
      --width: 100%;
      color:black;
  }
  .bg-buttons {
    --background: rgba(196, 196, 196, 0.781);
    --color:black;
  }
  .bg-transparent{
    --background: transparent;
  }
  ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .background{
       --background: rgba(255, 226, 146, 0.781);
    }
    .custom-list {
        background: inherit;
      }
